@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

html {
  box-sizing: content-box;
  font-family: 'PT Sans Narrow', sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  background-color: rgb(251, 244, 255);
}
#size {
  background-color: rgb(247, 234, 255);
  width: 50px;
}

.flex > section {
  margin: 50px 20px 0;
  text-align: center;
  height: 650px;
}

header h1 {
  text-align: center;
  line-height: 100px;
  font-size: 40px;
}

header p {
  text-align: center;
  font-size: 20px;
}

header {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

#menu h1 {
  font-size: 25px;
  margin-bottom: 30px;
}



.container {
  display: grid;
  position: relative;
  margin: 0 auto;
  height: 650px;
  width: 650px;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  border: 1px solid rgb(0,0,0);
}

.item {
  background-color: rgb(255,255,255);
}

.black {
  background-color: rgb(0,0,0);
}

#menu {
  border: 1px solid rgb(0,0,0);
  border-radius: 20px;
  width: 400px;
}

#menu h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 3rem;
}

#menu > label {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

#menu > div > label {
  display: inline-block;
  padding-bottom: 8px;
}

#menu > * {
  display: block;
  margin: 0 auto;
  font-size: 1.3rem;
}

input {
  text-align: center;
}
